# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Python virtual environments
env/
venv/
.venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python package metadata
*.egg-info/
dist/
build/

# Environment variables and secrets
.env
.env.*

# Log files
*.log
